
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 9% 98%;
    --foreground: 265 9% 23%;

    --card: 280 9% 98%;
    --card-foreground: 265 9% 23%;
 
    --popover: 280 9% 98%;
    --popover-foreground: 265 9% 23%;
 
    --primary: 263 70% 50%;
    --primary-foreground: 280 9% 98%;
 
    --secondary: 270 5% 90%;
    --secondary-foreground: 265 9% 23%;
 
    --muted: 270 5% 90%;
    --muted-foreground: 270 4% 45%;
 
    --accent: 270 5% 90%;
    --accent-foreground: 265 9% 23%;
 
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 5% 80%;
    --input: 270 5% 85%;
    --ring: 263 70% 50%;
 
    --radius: 0.75rem;

    --chart-1: 263 70% 50%;
    --chart-2: 180 70% 40%;
    --chart-3: 30 70% 50%;
    --chart-4: 210 70% 50%;
    --chart-5: 330 70% 50%;
  }
 
  .dark {
    --background: 265 9% 13%;
    --foreground: 280 9% 88%;
 
    --card: 265 9% 13%;
    --card-foreground: 280 9% 88%;
 
    --popover: 265 9% 13%;
    --popover-foreground: 280 9% 88%;
 
    --primary: 263 80% 65%;
    --primary-foreground: 265 9% 13%;
 
    --secondary: 265 10% 20%;
    --secondary-foreground: 280 9% 88%;
 
    --muted: 265 10% 20%;
    --muted-foreground: 265 5% 65%;
 
    --accent: 265 10% 20%;
    --accent-foreground: 280 9% 88%;
 
    --destructive: 0 62% 40%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 265 10% 25%;
    --input: 265 10% 25%;
    --ring: 263 80% 65%;

    --chart-1: 263 80% 65%;
    --chart-2: 180 80% 55%;
    --chart-3: 30 80% 65%;
    --chart-4: 210 80% 65%;
    --chart-5: 330 80% 65%;
  }

  .seo4web {
    --background: 240 10% 4%;
    --foreground: 240 5% 95%;
    --card: 240 10% 9%;
    --card-foreground: 240 5% 95%;
    --popover: 240 10% 4%;
    --popover-foreground: 240 5% 95%;
    --primary: 221 83% 53%;
    --primary-foreground: 240 5% 95%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 240 5% 95%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 64%;
    --accent: 240 4% 16%;
    --accent-foreground: 240 5% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 240 5% 95%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 221 83% 53%;
    
    --chart-1: 221 83% 53%;
    --chart-2: 173 80% 40%;
    --chart-3: 350 87% 55%;
    --chart-4: 262 85% 60%;
    --chart-5: 48 96% 50%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
   ::selection {
    @apply bg-primary/20;
  }
}
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .prose {
    @apply max-w-none;
  }
  .prose ul {
      @apply list-disc pl-4;
  }
  .prose li {
      @apply my-1;
  }
}

html {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
