@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262 84% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 271 91% 63%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 84% 57%;
    --radius: 0.5rem;
    --chart-1: 262 84% 57%;
    --chart-2: 271 91% 63%;
    --chart-3: 310 91% 63%;
    --chart-4: 220 84% 57%;
    --chart-5: 190 84% 57%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 84% 57%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 271 91% 63%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 84% 57%;
    --chart-1: 262 84% 57%;
    --chart-2: 271 91% 63%;
    --chart-3: 310 91% 63%;
    --chart-4: 220 84% 57%;
    --chart-5: 190 84% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary/20;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .prose {
    @apply max-w-none;
  }
  .prose ul {
      @apply list-disc pl-4;
  }
  .prose li {
      @apply my-1;
  }
}

html {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
